<div class="jumbotron">
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span>Sie haben hier keinen Zugang!</span>
  </div>

  <p>...</p>

  <p><%= link_to 'Alles auf Anfang...', welcome_index_path, class: 'btn btn-primary btn-lg' %></p>
</div>

